.image-container{
    /*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6),  rgba(0,0,0,0.8)), */
   background: linear-gradient( rgba(0,0,0,0.3),  rgba(0,0,0,0.6)),url("/Storage/auth/media/image5.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: initial;
    background-repeat: no-repeat;
    height: 100vh;
}
