.image-container{
   background: url("/Storage/auth/media/image6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: initial;
    background-repeat: no-repeat;
    height: 100vh;
}
