/*
 * Food Ordering App (https://github.com/alisharify7/Food-Ordering-App/)
 * Copyright 2023-2024 alisharify
*/

@import url("./yekan/yekan.css");

* {
    font-family: "Yekan";
}

.typing-text {
    direction: ltr;
    overflow: hidden;
    border-right: 2px solid #fff; /* Cursor */
    white-space: nowrap; /* Keep text in one line */
    margin: 0 auto; /* Center the container horizontally */
    letter-spacing: .0em; /* Adjust spacing between characters */
    animation: typing 6s steps(55) infinite;
}

/* Define the typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}



@keyframes fill-color {
    0% {
        filter: brightness(0.01500000);
        clip-path: inset(99% 0 0 0); /* Hide the image except for the bottom */
    }
    25% {
        filter: brightness(0.5);
        clip-path: inset(50% 0 0 0); /* Show the entire image */
    }
    50% {
        filter: brightness(1);
        clip-path: inset(0 0 0 0); /* Show the entire image */
    }
    75% {
        filter: brightness(0.15000000);
        clip-path: inset(100% 0 0 0); /* Show the entire image */
    }
    100% {
        filter: brightness(1);
        clip-path: inset(0 0 0 0); /* Show the entire image */
    }
}


.line{
    background-color: white !important;
    color: white !important;
}