{% extends 'base.html' %}

{% block title %}
login page
{% endblock  %}

{% block style %}
    <link rel="stylesheet" href="{{ '/auth/login/css/login.css' | StorageUrl }}">
{% endblock %}

{% block content %}
<section>
    <div class="container-fluid bg-gray persian-font">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 col-12 vh-100 d-flex justify-content-center align-items-center">
                <div class="card border-0 rounded-3  shadow">
                    <div class="card-header bg-transparent border-0 ">
                        <p class="h3 my-2 mt-3 text-center">خوش برگشتی <span class="text-warning">قهرمان</span> !</p>
                        <p class="h6 text-muted text-center">با نام کابری و گذرواژه ات میتونی دوباره وارد سیستم بشی</p>
                    </div>
                    <div class="card-body">
                        <form id="loginForm" method="post" action="">
                            <label class="w-100 my-1">
                                <span class="text-muted fs-0-9">{{ form.username.label }}</span>
                                {{ form.username }}
                            </label>
                            <label class="w-100 my-1">
                                <span class="text-muted fs-0-9 ">{{ form.password.label }}</span>
                                {{ form.password }}
                            </label>
                            <div class="d-flex justify-content-between align-items-center my-3">
                                <a href="#" class="text-decoration-none text-primary">فراموشی رمز عبور؟</a>
                                {{ form.remember_me }}
                            </div>

                             <div class="captcha-container d-flex justify-content-center align-items-center mt-3">
                                {{ captcha.render_captcha(
                                    model_name='g-captcha3',
                                    BtnText=form.submit.render_kw.get('value'),
                                    class=form.submit.render_kw.get('class'),
                                    ParentFormID='loginForm'
                                ) }}
                            </div>
                        </form>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <a href="#" class="text-decoration-none text-primary text-center mb-2 d-block"> حساب کاربری ندارید؟</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 d-none d-md-inline-flex image-container"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="{{ '/auth/login/js/login.js' | StorageUrl }}"></script>
{% endblock %}
