<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">

    <li class="nav-header">EXAMPLES</li>
    <li class="nav-item">
        <a href="#" class="nav-link active"> <i class="nav-icon bi bi-speedometer"></i>
            <p>
                Dashboard
            </p>
        </a>
    </li>

<li class="nav-item"> <a href="./docs/introduction.html" class="nav-link"> <i class="nav-icon bi bi-download"></i>
    <p>Installation</p>
</a> </li>


</ul> <!--end::Sidebar Menu-->
