{% extends "web/base.html" %}

{% block title %}تغییر گذرواژه حساب کاربری{% endblock %}

{#
    Todo:
#}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/change-password.css') }}">
{% endblock %}


{% block content %}
        <div class="container-bg pt-lg-0">
            <div class="row m-0 p-0 h-100 align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-11 mt-5 pt-5 pt-lg-0 mt-lg-0">
                    <div class="card form-container ">
                        <div class="card-header text-center my-2">
                            <h3>تغییر گذواژه حساب کاربری</h3>
                        </div>
                        <div class="card-body w-100 p-0 m-0">
                            <form action="{{ url_for('auth.setNewPassword_POST')}}" dir="rtl" class="w-100" method="POST" id="change-password-form">
                            <div class="card-body fs-5 my-2">
                                <label for="password" class="mb-2">گذرواژه : </label>
                                {{form.hidden_tag()}}

                                {{form.password(id="password",  placeholder="گذرواژه حساب کاربری خود را وارد کنید", class="form-control")}}
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <p style="font-size: 1rem !important;" class="text-center text-danger">{{error}}</p>
                                    {% endfor %}
                                {% endif %}

                                <label for="password-confirm" class="mb-2 mt-4">تکرار گذرواژه : </label>
                                {{form.password_repeat(id="password-confirm",  placeholder="تکرار گذرواژه خود را وارد کنید", class="form-control")}}
                                <div class="password-confirm-error mb-4">
                                    {% if form.password_repeat.errors %}
                                        {% for error in form.password_repeat.errors %}
                                            <p style="font-size: 1rem !important;" class="text-center text-danger">{{error}}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="my-2 d-flex justify-content-center align-items-center">
                                        {{ captchaField }}
                                </div>

                            </div>
                            <div class="d-flex justify-content-between  p-2">
                                {{form.submit(class="btn btn-success submit-btn w-100", value="ورود به حساب کاربری")}}
                            </div>
                        </form>
                        </div>
                        <div class="card-footer">
                           <div class="info text-center">
                                    <h5 class="lh-base">کاربر گرامی برای ورود به سامانه نیاز به تغییر رمز عبور می باشد</h5>
                                    <p dir="rtl" style="font-size: 0.9rem;" class="m-0 my-1"><span class="text-danger fs-5 fw-bold">*</span>  در انتخاب گذرواژه سعی کنید از ترکیب حروف اعداد اشکل و حروف بزرگ وکوچک کمک بگیرید</p>
                                    <p dir="rtl" style="font-size: 0.9rem;" class="m-0 my-1"><span class="text-danger fs-5 fw-bold">*</span>اعتبار این صفحه  <span class="text-danger fw-bold">15 دقیقه</span> می باشد</p>
                                </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8 col-0">
                    <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center d-none d-lg-flex">
                            <img src="{{  serve_app_logo() }}" style="width: 180px" class="rounded-circle">
                        {% with INFO = get_app_info() %}
                            {% if INFO.name and INFO.description and INFO.domain %}
                                <h5 class="display-4 text-white"> {{ INFO.name }} اتوماسیون تغذیه</h5>
                                <h6 class="display-6 text-white"> {{ INFO.description }}</h6>
                                <p class="m-0 text-white fw-bold font-monospace">{{ INFO.domain }}</p>
                            {% else %}
                                <h5 class="display-4 text-white">  اتوماسیون تغذیه</h5>
                                <p class="m-0 text-white fw-bold font-monospace">Free And Open Source at <a href="https://github.com/alisharify7/">https://github.com/alisharify7/</a></p>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

            </div>
        </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('auth.static', filename='/js/setPassword.js') }}"></script>
{% endblock %}
