.container-bg{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4), rgba(0,0,0,0.6)),url('../media/wallpaperflare.com_wallpaper (1).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

