{% extends "user/base.html" %}

{% block style %}
{% endblock %}

{% block title %}منو غذایی سامانه{% endblock %}


{% block user_content %}
    <section style="min-height: 100vh">
            <div class="container-fluid ">
        <div class="row justify-content-center ">
            <h4 class="text-center my-5">لیست منو غذایی سامانه</h4>

            <div class="col-lg-10 col-md-11 col-12 ">
                <table class="table table-responsive table-hover table-dark table-bordered text-start shadow" dir="rtl">
                <thead>
                    <tr>
                        <th>منو</th>
                        <th>روز</th>
                        <th>توضیحات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for food in ctx.foods %}
                        <tr>
                            <td>{{ food.Name }}</td>
                            <td>{{ " - ".join(food.GetAllDays()) }}</td>
                            <td>{{ food.Description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <div class="food_info mt-5" dir="rtl">
                <h4 class="text-center">راهنمایی</h4>
                <ul class="text-center d-flex flex-column justify-content-center align-items-center">
                    <li>قیمت تمام غذا های موجود در منو 29 هزار تومان می باشد</li>
                    <li>توجه فرمایید هر غذایی در  روز خاص خودش در هفته تنها قابل سفارش است</li>
                    <li>هزینه غذا ها در انتهای هرماه محاسبه و به شما به صورت ایمیل اعلام خواهد شد</li>
                </ul>
            </div>
        </div>
    </div>
    </section>
    {% include "web/utils/footer.html" %}
{% endblock %}

