{% extends "user/base.html" %}

{% block title %}سامانه سفارش غذا{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('user.UserStatic',filename='css/index.css') }}">
{% endblock %}



{% block user_content %}
<section style="width: 100vw; height: 100vh" class="container-index ">
    <div class="text-center w-100 h-100 d-flex justify-content-center align-items-center ">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-white display-3 shadow mt-3 mx-2 typing-text px-2">اتوماسیون</h1>
            <h1 class="text-white display-3 shadow mt-3 mx-2 typing-text px-2"> تغذیه </h1>
            <h1 class="text-white display-3 shadow mt-3 mx-2 typing-text px-2"> کارمندان</h1>
            <h5 class="text-white my-3 mx-2">
                توسعه داده شده با
                <i class="bi bi-heart-fill text-danger"></i>
                در
                <p class="display-6 text-warning m-0">
                    <a href="https://github.com/alisharify7">
                        <i class="bi bi-github fs-1 text-danger"></i>
                    </a>
                </p>
                </h5>
                <div class="">
                    <a href="{{ url_for('user.get_menu') }}" class="btn btn-primary my-3 px-5">مشاهده منو</a>
                    <button class="btn btn-primary  px-5" id="helper-btn">راهنما</button>
                </div>
        </div>
    </div>
</section>

    <div class="position-fixed bottom-0 end-0 m-3">
        <div class="d-flex  justify-content-center align-items-center">

            <div style="height: 60px">
                <img src="{{ serve_app_logo() }}"  class="rounded-circle w-100 h-100 d-none d-md-block">
            </div>

            <div style="height: 60px; font-size: 0.8rem" class="me-2 text-white d-flex flex-column justify-content-center align-items-start">
                <p class="m-0 d-none d-sm-block" style="font-family: 'Roboto', sans-serif;" >Alisharify7</p>
                <p class="m-0 text-decoration-underline  d-none d-sm-block" style="font-family: 'Roboto', sans-serif;">Copyleft © alisharify7.</p>
            </div>

        </div>
    </div>

{% endblock %}


{% block tag %}
{% endblock %}

{% block user_script %}
    <script>
        let helper = document.querySelector("#helper-btn")
    helper.addEventListener("click", (e)=>{
        // `
        Swal.fire({
            icon:"success",
            title:"راهنمای سامانه غذایی",
            html:`
              <ul dir="rtl"  style="text-align: justify">
                <li>برای سفارش غذا در سامانه میتوانید از همین سامانه سفارشات خود را ثبت کنید</li>
                <li>از طریق گزارشات می توانید سابقه سفارشات خود را مشاهده نمایید</li>
                <li>در صورت بروز مشکلات فنی میتوانید به واحد IT مراجعه کنید</li>
                <li>توجه داشته باشید امکان سفارش غذا برای هر روز تنها تا ساعت 9 صبح همان روز  بوده و پس از آن امکان ثبت سفارش برای آن روز وجود ندارد</li>
            </ul>
            <a href="/${getServerPath()}/Helper.pdf">راهنمای تصویری سامانه</a>
            `,

            confirmButtonText: 'فهمیدم',
        })
    })
    </script>
{% endblock %}
