{% extends "user/base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('user.UserStatic', filename='css/index.css') }}">
<link href="{{ url_for('web.static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}ثبت سفارش غذا{% endblock %}


{% block user_content %}
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="d-flex flex-column align-items-center text-center">
                <p class="text-decoration-underline m-0 mt-3">برای مشاهده و سفارش غذای هر روز بر روی آن روز کلیک کنید</p>
                <h1 class="text-center mb-2">منو غذایی امروز</h1>
                <div class="w-100">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-8 col-11">
                            <div dir="rtl" id="FoodMenuButtons"  class="row justify-content-center align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mb-5 justify-content-center food-container my-3">



        </div>
        
    </div>

    <button class="btn btn-danger d-none " id="modal-order-confirm-trigger" data-bs-toggle="modal" data-bs-target="#modal-register-food"></button>
    <!-- modal register_order -->
        <div class="modal fade" id="modal-register-food">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn btn-close" data-bs-dismiss="modal"></button>
                        <p class="m-0">تایید نهایی سفارش</p>
                    </div>
                    <form action="/order/register/" method="POST">
                        <div class="modal-body text-center" dir="rtl">
                            <p>کاربر گرامی آیا مایل به تایید نهایی سفارش خود هستید؟</p>
                            <p>شرح سفارش :</p>
                            <p>غذای سفارش داده شده : <span id="order_name"></span></p>
                            <p>توضیحات:
                                <p dir="rtl" id="order_info"></p>
                            </p>
                            <span>برای روز :<span class="order-date_confirm"></span></span>
                        </div>
                        <input type="hidden" name="order-key" id="order-confirm-key">
                        <input type="hidden" name="order-date" id="order-confirm-date">
                        <input type="hidden" name="csrf_token" id="order-confirm-token">
                        <div class="modal-footer d-flex flex-column">
                            <p class="text-center text-muted">توجه پس از سفارش امکان لغو سفارش وجود نخواهد داشت</p>
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <input type="submit" class="btn btn-success mx-2 shadow" value="سفارش">
                                <button type="button" class="btn btn-danger mx-2 px-3 shadow" data-bs-dismiss="modal">لغو</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- end of modal register_order -->

    <input type="hidden" id="token" name="token" value="{{ csrf_token() }}">
    {% include "web/utils/footer.html" %}
{% endblock %}

{% block script %}
<script src="{{ url_for('user.UserStatic', filename='js/register_order.js') }}"></script>
{% endblock %}