{% extends "admin/base.html" %}

{% block title %}
    مدیریت سفارشات کارمندان
{% endblock %}

{% block admin_style %}
{% endblock %}

{% block main_content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-11">
            <h4 class="text-center my-2 mt-4">مدیریت سفارشات کاربران</h4>
        </div>
        <div class="col-11" dir="rtl">
            <label class="w-100 my-2">کد کارمندی:
                <input required id="employeeCode" class="form-control" placeholder="کد کارمندی">
            </label>
            <label class="w-100 my-2">
                تاریخ مورد نظر:
                <input required id="Targetdate" class="form-control" placeholder="تاریخ به صورت YYYY/DD/MM وارد شود">
            </label>
            <button class="btn btn-success w-100 my-2" id="searchButton">جستجو</button>


            <div dir="rtl" class="my-5">
                <h3 class="text-center">راهنما</h3>
                <ul class="d-flex flex-column justify-content-center align-items-center">
                    <li>برای اضافه کردن غذایی برای روز خاصی برای کاربر از طریق فرم بالا روز و کد کارمندی کاربر را وارد
                        کنید
                    </li>
                    <li>در صورتی که نیاز دارید سفارشی که برای کاربری ثبت شده است حذف شود میتوانید از منوی حسابرسی
                        کارمندان - گزارش منحصر به فرد اقدام به گزارش گیری کنید و با استفاده از دکمه حذف سفارش سفارش از
                        منوی عملیات سفارش مورد نظر را حذف کنید
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <input type="hidden" id="token" name="token" value="{{ csrf_token() }}">



{% endblock %}

{% block admin_script %}
    {% include "web/utils/datepickerLoader.html" %}
    <script src="{{ url_for('admin.AdminStatic', filename='ManageUsers/js/add-order-for-user.js') }}"></script>
{% endblock %}



