{#
user panel header
include this header only in user templates ~!
#}

<!-- header -->
    <nav class="navbar navbar-expand-md navbar-header sticky-top bg-dark" >
        <div class="container-fluid">
            <a href="{{ url_for('user.index_view') }}" class="navbar-brand">
                <img src="{{ serve_app_logo() }}"  class="rounded-circle app-logo" alt="اتوماسیون غذا" style="width: 80px;">
            </a>
            <span class="navbar-toggler" id="navbar-dropdown" data-bs-target="#navbar-header"  data-bs-toggle="collapse">
                <div class="line line-1 rounded"></div>
                <div class="line line-2 rounded"></div>
                <div class="line line-3 rounded"></div>
            </span>

        <div class="collapse navbar-collapse fs-5" id="navbar-header">
            <ul class="navbar-nav me-md-auto ms-2" dir="rtl">
                <li class="nav-item">
                    <a href="{{ url_for('user.index_view') }}" class="nav-link text-white">خانه</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('user.get_menu') }}" class="nav-link text-white">منو غذایی</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('user.order_get') }}" class="nav-link text-white">سفارش غذا</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('user.history_get') }}" class="nav-link text-white">سابقه سفارشات</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('user.panel_get') }}" class="nav-link text-white">پنل کاربری</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="modal" href="#modal-exit">خروج</a>
                </li>

                <li class="nav-item dropdown-center fs-6 mt-1" dir="rtl">
                        <span class="nav-link dropdown-toggle text-white bg-transparent" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span>سفارش</span>
                    </span>

                    <ul class="dropdown-menu mx-3 mx-md-0 text-muted">
                        <li>
                            <a class="dropdown-item text-muted d-flex justify-content-between align-content-center"
                               href="">
                                <span>سفارش برد مدار چاپی</span>
                                <span><i class="fa-solid fa-angle-left"></i></span>
                            </a>
                        </li>
                        <li class="dropdown-divider m-0 p-0"></li>
                        <li >
                            <a onclick=";"
                               class="dropdown-item text-muted d-flex justify-content-between align-content-center"
                               href="">
                                <span>سفارش استنسیل</span>
                                <span><i class="fa-solid fa-angle-left"></i></span>
                            </a>
                        </li>

                    </ul>
                </li>


            </ul>
        </div>
    </div>

</nav>
<!-- end of header -->

<div class="modal fade" id="modal-exit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-close" data-bs-dismiss="modal"></button>
                <p class="m-0">خروج از پنل</p>
            </div>
            <div class="modal-body text-center">
                <p>توجه در صورت خروج از پنل برای دسترسی دوباره به پنل به حساب کاربری خود وارد شوید</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">خروج</a>
                <button class="btn btn-success" data-bs-dismiss="modal">می مانم</button>
            </div>
        </div>
    </div>
</div>