



# ADD-NEW-USER template content should be like:
"""
    #EMPLOYEE_NAME#  عزیز برای سفارش غذا در شرکت میتوانید از اتوماسیون تغذیه استفاده کنید

    نشانی سامانه:
    www.your-domain.ir

    برای سفارش غذا مراحل زیر را انجام دهید :
    -  از منوی ورود در صفحه اصلی وارد پنل کاربری خود شوید
    - نام کاربری و گذرواژه حساب کاربری شما به ترتیب کدملی و شماره تماس شما میباشد
    - در اولین ورود به سیستم باید گذرواژه حساب کاربری خود را عوض کنید
    - زمان سفارش برای هر روز تا ساعت 9 صبح همان روز است و پس از آن سامانه سفارشی قبول نخواهد کرد

    * در صورت هرگونه مشکل در ورود به سامانه میتوانید به بخش IT مراجعه کنید *


    نام شرکت شما | www.your-domain.ir

"""

# WELCOME_NEW_USER template content should be like:
"""
همکار محترم #EMPLOYEE_NAME#
ضمن خيرمقدم جهت ورود به شرکت اسم شرکت، لطفا جهت دريافت کاربري و رمز عبور سامانه (رزرواسيون تغذيه) به واحد منابع انسانی شرکت مراجعه کنید
با تشکر

اتوماسیون هوشمند اسم شرکت
www.EXAMPLE.ir

"""


# sms ir templates id
SMS_IR_TEMPLATES = {
    "ADD-NEW-USER":  {
        # "ID": Put template id here <type int>,
        "ID": 00000,
        "VARIABLES": ["EMPLOYEE_NAME"]
    },
    "WELCOME_NEW_USER":  {
        "ID": 000000,
        "VARIABLES": ["EMPLOYEE_NAME"]
    }
}