{% extends "admin/base.html" %}

{% block title %}
        لیست منوی غذایی
{% endblock %}

{% block admin_style %}
{% endblock %}

{% block main_content %}
<div class="row justify-content-center align-items-center">
      <div class="col-11">
          <h4 class="text-center my-2 mt-4">لیست غذا های سامانه</h4>
      </div>

        {% if ctx.foods %}
            {% for food in ctx.foods %}
                <div class="col-lg-4 col-md-6 col-12 my-3" dir="rtl">
                    <div class="card shadow">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span>{{food.Name}}</span>
                            {% if food.Active %}
                                <i class="bi bi-check-circle-fill text-success fs-3"></i>
                            {% else %}
                                <i class="bi bi-exclamation-circle-fill text-danger fs-3"></i>
                            {% endif %}
                        </div>
                        <div class="card-body m-0 p -1" >
                            <img class="w-100" style="height: 480px !important; width: 100% !important;"
                                 src="{{ ('/Foods/'+ food.GetImage(1)) | Serve }}">
                            <p class="text-center mt-3 mb-0">{{food.Name}}</p>
                            <p class="text-center">{{ food.Description }}</p>
                            {% for day in food.GetAllDays() %}
                                <button class="my-2 btn btn-{{ ['info', 'success', 'danger', 'primary', 'secondary', 'warning'] | random }}">
                                    {{ day }}
                                </button>
                            {% endfor %}
                        </div>
                        <div class="card-footer dropdown">
                              <button type="button" class="btn btn-primary w-100 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                عملیات
                              </button>
                              <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{{ url_for('admin.edit_food', FoodKey=food.PublicKey) }}">ویرایش</a></li>
                              </ul>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2 class="text-center my-5 display-3 text-danger py-5">غذایی تعریف نشده است</h2>
        {% endif %}


</div>
{% endblock  %}

{% block admin_script %}
{% endblock %}



